FIRST_ADMIN_LOGIN=admin
FIRST_ADMIN_PASSWORD=admin123
FIRST_ADMIN_NAME=Admin
FIRST_ADMIN_SURNAME=Adminov
FIRST_ADMIN_PATRONYMIC=Adminovich
FIRST_ORGANIZATION_NAME=AdminOrg
FIRST_ADMIN_DATE_OF_BIRTH=1970-01-01
SECRET_KEY=some_long_random_secret_key_123456789

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=ct_photos_database
DATABASE_URL=postgresql://postgres:password@localhost/db

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=photos
MINIO_SECURE=false
MINIO_PRESIGNED_EXPIRES_SECONDS=3600

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

VLLM_BASE_URL=yours_url
VLLM_API_KEY=yours_api_key
VLLM_MODEL=yours_model

GUIDELINE_PATHS="clinical_protocols"

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=yours_ls_api-key
LANGSMITH_PROJECT=clinical-rag

HF_HUB_OFFLINE=0
TRANSFORMERS_OFFLINE=0
HF_DATASETS_OFFLINE=0

EMBEDDING_MODEL_REPO=DmitryPogrebnoy/MedRuBertTiny2
CROSS_ENCODER_MODEL_REPO=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1

USE_CROSS_ENCODER=true

HF_TOKEN=yours_hf_token

HF_HOME=/app/.cache/huggingface
HF_HUB_CACHE=/app/.cache/huggingface/hub
SENTENCE_TRANSFORMERS_HOME=/app/.cache/sentence_transformers
